<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId, size) {
        var currentValue = parseInt($(`.size_${itemId}_${size}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
        $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    allQtyInputs.each(function() {
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        closestInput.val(currentValue + 1);
        handleEnableDisable(itemId, size);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        if (currentValue > 1) {
            closestInput.val(currentValue - 1);
        }
        handleEnableDisable(itemId, size);
    });
</script>